{% extends "base.html" %}
{% block header %}
<header class="bg-blue-500 text-white py-4">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-2xl font-bold">주식 커뮤니티</h1>
        
        <div id="user-nav">
            <!-- 로그인 사용자 정보가 동적으로 들어갈 곳 -->
            {% if user.is_authenticated %}
            <p class="mr-4">${request.username}</p>
            <a href="#" onclick="logout()">로그아웃</a>
            {% else %}
            <a href="login/">로그인</a>
            {% endif %}   
        </div>

        <div class="flex items-center space-x-4">
            <a href="/" class="hover:underline">홈</a>
            <a href="#" class="hover:underline">최근 업데이트</a>
            <a href="#" class="hover:underline">커뮤니티</a>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container mx-auto my-8">
    <h1 class="text-3xl font-bold mb-6">최근 종목</h1>
        <div id="stock-cards" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
            <!-- 동적으로 추가될 곳 -->
        </div>
</div>
{% endblock %}